.section-for-cards-card {
    .general-cards {
        .section-for-cards-card{
            cursor: pointer;
        }
        .section-for-cards-card:hover {
            background-color:#0e8784;
        }
    }
}

.section-for-cards-card {
    cursor: pointer;
}

.section-for-cards-card:hover 
{
    background-color: #0e8784;
}