.section-for-cards-card {
    cursor: pointer;
    width: 500px;
}

.section-for-cards-card:hover {
    background-color: $prime-color-green;
    width: 300px;
}

.card:hover{
    transform: scale(1.16);
}