.coffee-section2__img {
    width: 1200px;
    height: 500px;
    background-image: url(../img/Bitmap.svg);   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 300px 50px 75px;
    border-radius: 0px;
}

.container {
    height: 3050px;
}

.main {
    height: 2635px;
}

.header {
    position: fixed;
    z-index: 5;
}

* {
    box-sizing: border-box;
}

.arrow:checked {
    z-index: 6;
}