.coffee-section2__img {
    width: 1200px;
    height: 500px;
    background-image: url(../scss/block/image/create-plan.jpg);   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 300px 50px 75px;
    border-radius: 0px;
}

.shape-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

.shaper {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.list-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.footer2 {
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    .div-start-footer2 {
        display: flex;
        width: 1200px;
        flex-direction: column;
        gap: 40px;
    }
}

.list1 {
    font-size: 30px;
    font-weight: 700;
} 

.container2 {
    height: 3500px;
}

.main {
    height: 3000px;
}

.container {
    height: 3050px;
}

.main {
    height: 2635px;
}

.header {
    position: fixed;
    z-index: 5;
}

* {
    box-sizing: border-box;
}

.arrow:checked {
    z-index: 6;
}