.lines:hover {
    width: 440px;
}

.nomer:hover {
    font-size: 100px;
} 

.main-card-description:hover {
    transform: scale(1.2);
}

.title-card:hover {
    transform: scale(1.2);
}


.title:hover {
    transform: scale(1.2);
}

.position:hover {
    transform: scale(1.2);
}