.section-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
    z-index: 1;
    .section-card-card-title {
        padding: 50px 25px 10px 70px;
    }
    .section-card-card-description {
        padding: 10px 10px 30px 70px;
        width: 200px;
    }
}