.section3-2 {
    background-color: #292f39;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width: 1200px;
    border-radius: 10px;
    padding-left: 40px;
    .general2 {
        margin-left: 40px;
        width: 950px;
        .main-card-description {
            color: $gray-color;
        }
    }
    .lines-parent{
        width: 1200px;
       .line1 {
        width: 900px;
        .lines1 {
            width: 360px;
        }
       } 
    }
}

.position-photo {
    background-image: url(../scss/block/image/Bitmap.svg);
    width: 440px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: contain;

}

.section3-title {
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
}

.card-parent {
    display: flex;
    flex-direction: row-reverse;
}

.section3-description {
    color: $gray-color;
    font-size: 25px;
    width: 630px;
    text-align: center;
}