.lines-parent{
    .lines {
        width: 370px;
        height: 3px;
        background-color: #fdd6ba;
    }

    .lines1 {
        width: 185px;
        height: 3px;
        background-color: #fdd6ba;
    }
    .oval-radial {
        width: 40px;
        height: 40px;
        border: 5px solid #0e8784;
        border-radius: 50%;
    }
}

.section4-title {
    color: gray;
    font-size: 36px;
    font-family:  "Fraunces 9pt";
    font-weight: 600;
}